.menu-list {
    width: 100%;
    text-align: center;

    .menu-item {
        margin-left: 0;
    }
}

.menu-item {
    width: 80%;
    justify-content: center;
    font-weight: 600;
    margin: 8px 0;
    padding: 11px 16px;
    line-height: 1.8rem;

    .icon {
        text-align: left;
    }

    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
    }
}
