.wrapper {
    width: 120px;
    padding: 14px 18px;
    height: 52px;
    margin-bottom: 15px;
    text-align: center;
    color: var(--text-color);
    padding: 9px 14px;
    border: 1px solid #333;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    animation: all 0.3 ease;

    // + .wrapper {
    //     margin-left: 6px;
    // }

    // &:hover {
    //     background-color: var(--primary);
    //     color: var(--white);
    //     border: none;
    // }
}

.active {
    background-color: var(--primary);
    color: var(--white);
    border-color: transparent;
}
