.wrapper {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 100px;
    padding: 9px 16px;
    border-radius: 1.6rem;
    font-weight: 700;
    cursor: pointer;
    background-color: var(--white);
    border: 1px solid transparent;
    user-select: none;

    + .wrapper {
        margin-left: 8px;
    }

    &.disabled {
        pointer-events: none;
        opacity: 0.5;
    }
}

.icon + .title,
.title + .icon {
    margin-left: 8px;
}

.icon {
    display: inline-block;
    width: 24px;
    text-align: center;
}

//button type
.round {
    border-radius: 999px;
    box-shadow: 0 2px 8px rgb(0 0 0 / 6%);
    border-color: rgba(22, 24, 35, 0.12);

    &:hover {
        border-color: rgba(22, 24, 35, 0.2);
        background-color: rgba(22, 24, 35, 0.03);
    }
}

.primary {
    color: var(--white);
    background-color: var(--primary);
    border-color: var(--primary);

    &:hover {
        border-color: var(--primary);
        background-color: rgba(51, 204, 153, 0.8);
    }
}

.close {
    color: var(--white);
    background-color: var(--close-color);
    border-color: var(--close-color);

    &:hover {
        border-color: var(--close-color);
        background-color: rgba(255, 109, 96, 0.9);
    }
}

.outline {
    color: #333;
    border-color: currentColor;

    &:hover {
        border-color: currentColor;
        background-color: rgba(0, 0, 0, 0.06);
    }
}

.text {
    color: var(--text-color);

    &:hover {
        text-decoration: underline;
    }
}

//button sizes
.small {
    min-width: 88px;
    padding: 4px 16px;
}

.large {
    padding: 14px 16px;
    min-width: 148px;
}
