@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

:root {
    --primary: #33cc99;
    --primary-hover: rgba(51, 204, 153, 0.7);
    --primary-opacity: #45ffca;
    --white: #fff;
    --black: #000;
    --red: rgb(255, 109, 96);
    --red-hover: rgb(255, 109, 96, 0.8);
    --close-color: rgb(255, 109, 96);
    --text-color: #333;
    --invalid-color: rgb(255, 109, 96);

    --default-layout-header-height: 66px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizespeed;
}

button,
input,
[tabindex] {
    outline: none;
    border: none;
}

a {
    color: var(--text-color);
    text-decoration: none;
}

.modal-active {
    overflow-y: hidden;
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
