.wrapper {
    width: 100%;
    margin-top: 16px;
    background: transparent;
}

.row {
    padding: 10px 6px;
    border-radius: 6px 6px 0 0;
    margin-bottom: 8px;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;

    &:hover {
        background: #ddd;
    }
}
