.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(100% / 7);
    padding: 10px 0;
    font-weight: 600;
    cursor: pointer;
    border-bottom: 2px solid #000;
}

.date {
    font-size: 4.5rem;
    letter-spacing: 0.5px;
    font-weight: 700;
}

.active {
    border-bottom: none;
    > :first-child {
        color: var(--primary);
    }
}
