a {
    color: var(--text-color);
}
.container {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 20;
}

.wrapper {
    width: 100%;
    height: var(--default-layout-header-height, 66px);
    align-items: center;
    background-color: #fff;
    border-bottom: 1px solid #e8ebed;
    display: flex;
    justify-content: space-between;
    font-size: 1.4rem;
    padding: 0 28px;
    position: relative;
    left: 0;
    right: 0;
    top: 0;
}

.logo {
    display: flex;
    justify-self: center;
    align-items: center;

    .logo-heading {
        color: #000;
        font-size: 1.4rem;
        font-weight: 700;
        margin-left: 16px;
    }
}

.body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.actions {
    display: flex;
    align-items: center;
    justify-self: center;

    .action:not(:first-child) {
        font-size: 1.4rem;
        margin-left: 8px;
    }
}

.user-avatar {
    object-fit: cover;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.action_notification,
.action_user {
    color: #555;
}

.more-btn {
    font-size: 1.8rem;
    background-color: transparent;
    padding: 8px;
    cursor: pointer;
}

.cart {
    position: relative;

    .cart_quantity {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        padding: 5px 6px;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background: var(--red);
        color: var(--white);
        top: 0;
        right: 29%;
        font-size: 0.9rem;
    }
}

.menu-sidebar {
    display: none;
}

//more class

@media (max-width: 920px) {
    .body {
        width: 50vw;
        margin: 0 18px 0 16px;
    }

    .search-wrapper,
    .search-result {
        width: 350px;
    }

    .logo {
        display: none;
    }

    .menu-sidebar {
        display: block;
    }
}

@media (max-width: 420px) {
    .action:not(:first-child):not(:last-child) {
        display: none;
    }

    .body {
        width: 60vw;
        margin: 0 0 0 6px;

        .search-input {
            width: 70%;
            border: none;
            caret-color: #444;
            flex: 1 1;
            height: 100%;
            outline: none;
            padding: 0 4px;
        }
    }

    .search-wrapper,
    .search-result {
        width: 175px;
    }

    .actions {
        .action:not(:last-child) {
            margin-left: 0;
            display: none;
        }
    }

    .login-btn {
        font-size: 1.2rem;
    }
}
