.wrapper {
    margin-right: 15px;
    width: 230px;
    position: relative;
}

.select-field {
    width: 100%;
    padding: 14px 18px;
    margin-bottom: 15px;
    color: var(--white);
    background: var(--primary);
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    user-select: none;
    cursor: pointer;

    p {
        text-transform: capitalize;
    }
    .arrow-icon {
        transition: transform 0.5s;
    }
}

.list {
    width: 100%;
    background: #ddd;
    border-radius: 6px;
    overflow: auto;
    position: absolute;
    max-height: 400px;
    visibility: hidden;
    //visibility: visible;
    // transition: all 0.5s linear;
}

.option {
    width: 100%;
    padding: 15px 15px 15px 20px;
    list-style: none;
    cursor: pointer;
    box-sizing: border-box;

    p {
        text-transform: capitalize;
    }

    &:hover {
        color: var(--white);
        background: var(--primary);
    }
}

.active {
    visibility: visible;
}

.rotate {
    transform: rotate(180deg);
}

@media (max-width: 520px) {
    .wrapper {
        width: 100%;
    }

    .list {
        margin-bottom: 15px;
    }

    .active {
        position: relative;
    }
}
