.wrapper {
    margin-top: 18px;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    margin-top: 8px;
    padding: 8px 0;

    img {
        height: 40px;
        width: 40px;
        border-radius: 50%;
        object-fit: cover;
        object-position: center;
    }
}
