.wrapper {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.payment-detail {
    padding: 40px;
    width: 400px;
    color: var(--white);
    background: linear-gradient(to right, var(--primary), var(--primary-opacity), #acfadf);
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.total {
    font-size: 3.7rem;
    font-weight: 500;
}

.detail {
    margin: 30px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.detail-item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.8rem;

    > :last-child {
        font-weight: 600;
    }
}

.end-line-part {
    margin-top: 30px;
    width: 100%;
    height: 1px;
    background: var(--white);
}

.sub-detail-item {
    .sdi-label {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        p {
            margin-left: 16px;
            font-size: 1.6rem;
            font-weight: normal;
        }
    }

    p {
        margin-left: 40px;
        font-size: 1.8rem;
        font-weight: 600;
    }
}

.support {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 35px;

    .sp-label {
        font-weight: normal;
    }

    .support-icon {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        background: transparent;
        border: 2px solid var(--white);
        color: var(--white);
        font-size: 2.4rem;
        cursor: pointer;

        &:hover {
            background: var(--white);
            color: var(--primary);
            border-color: transparent;
        }
    }
}

.payment-info {
    width: 400px;
    padding: 30px;
}

.payment-info-header {
    display: flex;
    justify-content: space-around;
    align-items: center;

    .back-icon {
        font-size: 2.4rem;
        color: var(--primary);
        cursor: pointer;
    }
}

.payment-info-body {
    margin-top: 30px;
}

.payment-methods {
    padding: 10px 0;
    border-bottom: 2px solid #ddd;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    .payment-method {
        padding: 6px 0;
        text-align: center;
        width: 100%;
        font-size: 2rem;
        font-weight: normal;
        cursor: pointer;
    }

    .activem {
        background: var(--primary);
        color: var(--white);
        border-radius: 14px;
    }

    .more {
        color: #777;
        .more-icon {
            font-size: 1.6rem;
        }
    }
}

.form-payment {
    margin-top: 40px;
    padding: 0 10px;
}

.payment-info-footer {
    margin-top: 50px;
    width: 100%;

    > :first-child {
        width: 100%;
    }
}
