.wrapper {
    margin: 40px 0px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    background: transparent;
    width: 100%;
    //color: var(--white);
    overflow: hidden;
    box-sizing: border-box;
}

.main-content {
    display: flex;
    width: 100%;

    .img {
        margin-right: 20px;
        img {
            width: 170px;
            height: 260px;
        }
    }

    .main-content-left {
        flex: 1;
    }
}

.movie-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .sub-info {
        span:not(:first-child) {
            margin-left: 18px;
            padding-left: 18px;
            border-left: 1px solid #ddd;
        }
    }

    .movie-id {
        font-weight: 600;
    }
}

.schedule {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.control-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;

    button {
        font-size: 2.2rem;
        padding: 8px 16px;
        background: transparent;
        cursor: pointer;
    }
}

// cinematypecheckbox
.checkbox-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.type-name {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
    width: 170px;
    padding: 10px 19px;
    border-radius: 10px;
    text-align: center;
    color: var(--white);
    background: #333;
    cursor: pointer;
    user-select: none;
}

.active {
    background: var(--primary);
}

.schedule-list {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    //padding: 10px 0;
    border-bottom: 1px solid #ddd;

    .schedule-item {
        margin-top: 8px;
        padding: 10px 0;
        outline: 1px solid #ddd;
        border-radius: 10px;
        text-align: center;
        width: 13%;
        cursor: pointer;
    }

    .hidden {
        visibility: hidden;
    }
}
