.wrapper {
    margin: 40px 0px;
    padding: 20px;
    display: flex;
    //color: var(--white);
    overflow: hidden;
    box-sizing: border-box;
}

.left {
    display: flex;
    flex-direction: column;
    flex: 1;
    background: transparent;
    width: 100%;
}

.main-content {
    display: flex;
    width: 100%;

    .img {
        margin-right: 20px;
        img {
            width: 170px;
            height: 260px;
        }
    }

    .main-content-left {
        flex: 1;
    }
}

.movie-info {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .sub-info {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        span:not(:first-child) {
            margin-left: 18px;
            padding-left: 18px;
            border-left: 1px solid #ddd;
        }
    }

    .movie-id {
        font-weight: 600;
    }
}

@keyframes sheen {
    100% {
        transform: rotateZ(60deg) translate(0, -4em);
    }
}

@keyframes jump {
    0% {
        transform: none;
    }
    50% {
        transform: translateY(-1em);
    }
}

.right {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    background: white;
    padding: 20px 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

    .booking-btn {
        padding: 12px;
        margin-top: 13px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: transparent;
        border: 1px solid var(--black);
        border-radius: 8px;
        color: var(--text-color);
        transition: all 0.2s linear;

        &:hover {
            background: var(--white);
            color: var(--primary);
            border-color: var(--primary);
        }
        cursor: pointer;

        svg {
            font-size: 2rem;
        }

        span {
            padding-top: 10px;
        }
    }

    .attention {
        width: 100%;
        height: 10%;
        background: #fff url(../../../assets/images/nhanroi.gif) no-repeat center center;
        background-size: contain;
    }
}

.schedule {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;

    .schedule-item {
        width: 100%;
    }
}

// cinematypecheckbox
.checkbox-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.type-name {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
    width: 170px;
    padding: 10px 19px;
    border-radius: 10px;
    text-align: center;
    color: var(--white);
    background: #333;
    cursor: pointer;
    user-select: none;
}

.active {
    background: var(--primary);
}

.schedule-list {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    //padding: 10px 0;
    border-bottom: 1px solid #ddd;

    .schedule-item {
        color: #333;
        margin: 8px 8px 0 0;
        padding: 10px 0;
        outline: 1px solid #ddd;
        border-radius: 10px;
        text-align: center;
        width: 13%;
        cursor: pointer;
    }

    .hidden {
        visibility: hidden;
    }
}

@media (max-width: 520px) {
    .movie-info {
        .sub-info:not(:first-child) {
            span:not(:first-child) {
                display: none;
            }
        }

        .movie-id {
            display: none;
        }
    }
}
