.wrapper {
    padding: 40px;
    display: flex;
}

.main-content {
    width: 100%;
}

// sidebar
.sidebar {
    float: left;
    width: 200px;
    padding-right: 17px;
}

.sidebar_section {
    padding-bottom: 35px;
    margin-bottom: 50px;
    border-bottom: solid 1px #ebebeb;
}

.sidebar_title h5 {
    font-size: 18px;
    margin-bottom: 21px;
}
.sidebar_categories li.active .a {
    color: var(--primary);
}
.sidebar_categories li.active:hover .a {
    color: var(--primary);
}
.sidebar_categories li .a {
    cursor: pointer;
    font-size: 14px;
    line-height: 40px;
    color: #51545f;
}
.sidebar_categories li .a:hover {
    color: #b5aec4;
}
.sidebar_categories li .a span {
    margin-right: 5px;
}

.checkboxes li {
    height: 40px;
    line-height: 40px;
    span {
        text-transform: capitalize;
    }
}
.checkboxes li.active .i {
    color: var(--primary);
    margin-right: 21px;
}
// .checkboxes li.active .i::after {
//     display: block;
//     position: absolute;
//     top: 1px;
//     left: 1px;
//     //font-family: 'FontAwesome';
//     font-size: 10px;
//     content: '\f00c';
//     color: red;
// }
.checkboxes {
    height: 160px;
    overflow: hidden;
    transition: all 0.4s ease;
}

.openFullCheckbox {
    height: 470px;
}
.checkboxes.active {
    height: auto;
}
.checkboxes li .i {
    position: relative;
    color: #b3b7c8;
    cursor: pointer;
    margin-right: 22px;
}
.checkboxes li span {
    font-family: 'Poppins', sans-serif;
    color: #51545f;
}
.show_more {
    display: inline-block;
    cursor: pointer;
}
.show_more span {
    height: 40px;
    line-height: 40px;
    color: var(--primary);
}
.show_more span:first-child {
    margin-right: 11px;
}

//pagination
.pagination_section_wrapper {
    //width: calc(100% - 200px);
    flex: 1;
}
.d-flex {
    display: flex;
}
.product_sorting_container_bottom {
    margin-top: 24px;
}
.product_sorting_container_bottom .product_sorting {
    float: right;
}
.product_sorting {
    display: inline-block;
    position: relative;
}
.product_sorting > li {
    display: inline-block;
    position: relative;
    width: 185px;
    height: 40px;
    line-height: 40px;
    cursor: pointer;
    border: solid 1px #ecedee;
    padding-left: 20px;
    padding-right: 7px;
    margin-right: 16px;
}
.product_sorting_container_bottom .product_sorting > li {
    width: 144px;
    margin-right: 0px;
    padding-right: 12px;
}
.product_sorting_container_bottom .product_sorting li span:nth-child(2) {
    margin-left: 24px;
}
.product_sorting li .i {
    position: absolute;
    font-size: 1.2rem;
    right: 12px;
    top: 50%;
    transform: translate(-50%, -50%);
    //line-height: 40px;
    color: #51545f;
}
.product_sorting li ul {
    display: block;
    position: absolute;
    right: 0;
    top: 120%;
    margin: 0;
    width: 100%;
    background: #ffffff;
    visibility: hidden;
    opacity: 0;
    z-index: 1;
    box-shadow: 0 15px 25px rgba(63, 78, 100, 0.15);
    -webkit-transition: opacity 0.3s ease;
    -moz-transition: opacity 0.3s ease;
    -ms-transition: opacity 0.3s ease;
    -o-transition: opacity 0.3s ease;
    transition: all 0.3s ease;
}
.product_sorting > li:hover ul {
    visibility: visible;
    opacity: 1;
    top: calc(100% + 1px);
}
.product_sorting li ul li {
    display: block;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}
.product_sorting li ul li span {
    display: block;
    height: 40px;
    line-height: 40px;
    border-bottom: solid 1px #dddddd;
    color: #51545f;
    -webkit-transition: opacity 0.3s ease;
    -moz-transition: opacity 0.3s ease;
    -ms-transition: opacity 0.3s ease;
    -o-transition: opacity 0.3s ease;
    transition: all 0.3s ease;
}
.product_sorting li ul li span:hover {
    color: #b5aec4;
}
.product_sorting li ul li:last-child span {
    border-bottom: none;
}
.product_sorting li span:nth-child(2) {
    margin-left: 71px;
}
.pages {
    display: inline-block;
    float: right;
}
.product_sorting_container_bottom .pages {
    float: left;
}
.page_current {
    display: inline-block;
    position: relative;
    width: 40px;
    height: 40px;
    line-height: 40px;
    cursor: pointer;
    text-align: center;
    border: solid 1px #ecedee;
    margin: 0 16px;
}
.product_sorting_container_bottom .pages .page_current {
    background: #fe4c50;
    border: none;
}
.page_current span {
    color: #51545f;
}
.product_sorting_container_bottom .pages .page_current span {
    color: #ffffff;
}
.page_selection {
    display: block;
    position: absolute;
    right: 0;
    top: 120%;
    margin: 0;
    width: 100%;
    background: #ffffff;
    visibility: hidden;
    opacity: 0;
    z-index: 1;
    box-shadow: 0 15px 25px rgba(63, 78, 100, 0.15);
    -webkit-transition: opacity 0.3s ease;
    -moz-transition: opacity 0.3s ease;
    -ms-transition: opacity 0.3s ease;
    -o-transition: opacity 0.3s ease;
    transition: all 0.3s ease;
}
.page_selection li {
    display: block;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}
.page_selection li span {
    display: block;
    height: 40px;
    line-height: 40px;
    border-bottom: solid 1px #dddddd;
    color: #51545f;
    -webkit-transition: opacity 0.3s ease;
    -moz-transition: opacity 0.3s ease;
    -ms-transition: opacity 0.3s ease;
    -o-transition: opacity 0.3s ease;
    transition: all 0.3s ease;
}
.page_selection li span:hover {
    color: #b5aec4;
}
.page_current:hover .page_selection {
    visibility: visible;
    opacity: 1;
    top: calc(100% + 1px);
}
.page_total {
    display: inline-block;
    line-height: 40px;
    margin-right: 31px;
}
.page_total span {
    margin-right: 14px;
}
.page_next,
.page_prev {
    display: inline-block;
    line-height: 40px;
    cursor: pointer;
}
.page_next:hover .i,
.page_prev:hover .i {
    color: #b5aec4;
}
.page_next .i,
.page_prev .i {
    font-size: 18px;
    color: #51545f;
}
.showing_results {
    font-size: 16px;
    height: 40px;
    line-height: 40px;
    float: right;
    margin-right: 34px;
}

.movie-grid {
    width: 100%;
    margin-top: 57px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;

    .movie-item {
        width: 25%;
        margin-bottom: 16px;
    }
}
