.wrapper {
    width: 70px;
    height: 70px;
    margin: 0 5px;

    img {
        cursor: pointer;
        height: 100%;
        width: 100%;
        border-radius: 8px;
    }
}

.active {
    border: 2px solid var(--white);
}
